* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --Lime-Light: hsl(62, 72%, 79%);
}

body {
    background-color: var(--Slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body p {
    font-size: 16px;
}

.right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 550px;
    background-color: var(--Slate-900);
    border-bottom-left-radius: 128px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 1.725em;
}

.left-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 550px;
    background-color: var(--White);
    border-radius: 16px;
    padding: 50px;
    gap: 2em;
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 600px;
    width: 1100px;
    background-color: var(--White);
    border-radius: 16px;
}

.header_left-box {
    display: flex;
    justify-content: space-between;
}

.mortgage-term__interest-rate {
    display: flex;
    justify-content: space-between;
}

.mortgage-term {
    display: flex;
    flex-direction: column;
    gap: 0.725em;
}

.interest-rate {
    display: flex;
    flex-direction: column;
    gap: 0.725em;
}

.mortgage-type {
    display: flex;
    flex-direction: column;
    gap: 0.725em;
}

#button-clear {
    background-color: var(--White);
    border: 0px solid;
    color: var(--Slate-500);
    text-decoration: underline;
}

#button-clear:hover {
    color: var(--Slate-700);
    cursor: pointer;
}

.header__h1 {
    color: var(--Slate-900);
}

input {
    padding: 10px;
    border-radius: 5px;
    border: var(--Slate-500) 1.5px solid;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    color: var(--Slate-700);
}

.button-calculate {
    padding: 10px;
    border-radius: 32px;
    width: 300px;
    background-color: var(--Lime);
    border: 0px solid;
    color: var(--Slate-900);
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-calculate:hover {
    cursor: pointer;
    background-color: var(--Lime-Light);
}

.mortgage-amount__box {
    display: flex;
    flex-direction: column;
    gap: 0.725em;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--Slate-900);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--Slate-900);
    font-weight: bolder;
    transition: all 0.3s ease;
}

.radio-container:hover {
    border-color: var(--Lime);
}

.radio-container input {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--Slate-900);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.radio-container input:checked {
    border-color: var(--Lime);
}

.radio-container input:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--Lime);
    border-radius: 50%;
    position: absolute;
}

.radio-container:has(input:checked) {
    background-color: var(--Lime-Light);
    border: var(--Lime) 2px solid;
}

#mortgage-amount__label{
    display: flex;
    flex-direction: column;
    gap: 0.725em;
}

.box-icon{
    display: flex;
}

.icon{
    width: 40px;
    border-top: var(--Slate-500) 1.5px solid;
    border-left: var(--Slate-500) 1.5px solid;
    border-bottom: var(--Slate-500) 1.5px solid;
    border-right: var(--Slate-100) 1.5px solid;
    background-color: var(--Slate-100);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: var(--Slate-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mortgage-amount__input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px solid;
    width: 100%;
}

.calculator-img{
    height: 175px;
    width: 175px;
}

.h2__right-box{
    color: var(--White);
}

.results-msg{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.725em;
    padding-left: 5em;
    padding-right: 5em;
}

.results-msg p{
    color: var(--Slate-300);
}

.icon-term{
    width: 60px;
    border-top: var(--Slate-500) 1.5px solid;
    border-left: var(--Slate-500) 0px solid;
    border-bottom: var(--Slate-500) 1.5px solid;
    border-right: var(--Slate-500) 1.5px solid;
    background-color: var(--Slate-100);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: var(--Slate-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-term{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 150px;
}

.icon-rate{
    width: 40px;
    border-top: var(--Slate-500) 1.5px solid;
    border-left: var(--Slate-500) 0px solid;
    border-bottom: var(--Slate-500) 1.5px solid;
    border-right: var(--Slate-500) 1.5px solid;
    background-color: var(--Slate-100);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: var(--Slate-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-rate{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 150px;
}